<!DOCTYPE html>

  Tran Minh Quan TEST 2
  <h1>Add New Contact</h1>  
  <form:form method="post" action="redirect">
    <input type="submit" value="redirect" /></td>
  </form:form>
  <form:form method="post" action="save">
    <table >    
      <tr>    
       <td>Name : </td>   
       <td><form:input path="name"  /></td>  
      </tr>    
      <tr>    
       <td>LastName :</td>    
       <td><form:input path="LastName" /></td>  
      </tr>   
      <tr>    
       <td>Email :</td>    
       <td><form:input path="Email" /></td>  
      </tr>   
      <tr>    
       <td> </td>    
       <td><input type="submit" value="Save" /></td>    
      </tr>    
     </table>    
  </form:form>    